a, a:hover {
  color: #00c1c1;
}


/* Back to top button */
.back-to-top {
  background: rgb(14, 11, 61);
  color: #fff;
}


.back-to-top:focus {
  background: rgb(30, 23, 122);
  color: #fff;
}

.back-to-top:hover {
  background: rgb(22, 21, 112);
  color: #fff;
}

.navbar-default {
  /*background: #F1C40F   ;*/
  background-image: url('/static/img/intro/fondo3.jpg');
  background-size: contain;
  background-color:#ECEEEF;
}

.form-control:focus {
  border-color: #00c1c1;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 2px #00c1c1;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 2px #00c1c1;
}

.service .carousel-indicators .active {
  background: #00c1c1;
}

.btn-theme {
  background: #00c1c1;
}

.contact-widget i {
  color: #00c1c1;
}
